<mat-card>
    <mat-card-header>
    <mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Date type</mat-label>
        <mat-select [(value)]="selected" >
          <mat-option value="string">Text</mat-option>
          <mat-option value="number">Number</mat-option>
          <mat-option value="date">Date</mat-option>
          <mat-option value="boolean">Boolean</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
        
    </mat-card-header>
    <mat-card-content>
        <textarea name="" id="texteria" cols="50" rows="2">{{valueObject}}</textarea>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button >Apply</button>
        <button mat-button >Apply to All Identical Cells</button>
        <button mat-button (click)="toggleEdit()">Cancel</button>
    </mat-card-actions>

</mat-card>
        
