<mat-card #card>
    <mat-card-header>
    <mat-card-title>
      <mat-form-field appearance="fill">
        <!-- <mat-label>Date type</mat-label> -->
        <mat-select [(value)]="selected" >
          <mat-option value="string">Text</mat-option>
          <mat-option value="number">Number</mat-option>
          <mat-option value="object">Date</mat-option>
          <mat-option value="boolean">Boolean</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
        
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
         <mat-label>Leave a value</mat-label>
         <textarea matInput  [(ngModel)]="valueObject" ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn btn-outline-secondary" (click)="convertOne()">Apply</button>
        <button style="margin: 0px 13px;" type="button" class="btn btn-outline-secondary" (click)="sendObject()">Apply to All Identical Cells</button>
        <button type="button" class="btn btn-outline-secondary" (click)="toggleEdit('ok')">Cancel</button>
    </mat-card-actions>

</mat-card>
        
