
mat-card{
    width: 470px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 8px 8px 14px 13px;
}
mat-card-header {
    margin-left: -15px; 
    font-size: 17px;
}
mat-card-actions{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; 
    padding: 0;
}
