<div fxLayout="column">
    <h1 mat-dialog-title>Drap and drop content</h1>
    <div mat-dialog-content>
        <div cdkDropListGroupd fxLayout="row" fxLayoutAlign="space-evenly start">

            <div class="example-container ">
                <h2>Colonne Affichés</h2>

                <div cdkDropList #noHiddenList="cdkDropList" [cdkDropListData]="noHidden" [cdkDropListConnectedTo]="[hiddenList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of noHidden" cdkDrag>{{item}}</div>
                </div>
            </div>

            <div class="example-container">
                <h2>Colonne masque</h2>

                <div cdkDropList #hiddenList="cdkDropList" [cdkDropListData]="hidden" [cdkDropListConnectedTo]="[noHiddenList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box " *ngFor="let item of hidden" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align='center'>
        <button mat-button [mat-dialog-close]="true " cdkFocusInitial>FERMER</button>
    </div>
</div>