<div fxLayout="column" class="w-100">
    <div mat-dialog-content cdkDropListGroupd fxLayout="row" fxLayoutAlign="space-between center" class="w-100">

        <div class="example-container" class="w-25 h-100">
            <h2>Avalable columns</h2>
            <div class="table-columns">
                <div cdkDropList #noHiddenList="cdkDropList" [cdkDropListData]="noHidden" [cdkDropListConnectedTo]="[hiddenList]" [cdkDropListEnterPredicate]="canDrop" (cdkDropListDropped)="drop($event)" class="containt-list">
                    <div *ngFor="let item of noHidden">
                        <div *ngIf="!item.includes('Value');" class="example-box" cdkDrag>
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="column" class="w-25">
            <button type="button" mat-raised-button class="m-1">
                    <mat-icon>navigate_next</mat-icon> Display
                </button>
            <button type="button" mat-raised-button class="m-1">
                    <mat-icon>navigate_preview</mat-icon> Hide
                </button>
            <mat-checkbox color="primary">
                But keep hiding properties labels
            </mat-checkbox>
        </div>

        <div class="example-container" class="w-25 h-100">
            <h2>Table columns</h2>
            <div class="table-columns">
                <div cdkDropList #hiddenList="cdkDropList" [cdkDropListData]="hidden" [cdkDropListConnectedTo]="[noHiddenList]" (cdkDropListDropped)="drop($event) " class="containt-list ">
                    <div *ngFor="let item of hidden">
                        <div *ngIf="!item.includes( 'Value');" class="example-box" cdkDrag>
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align='center'>
        <button mat-button (click)="onClick() " tabindex="-1 ">FERMER</button>
    </div>
</div>