//align button mat-dialog-action
.mat-dialog-actions {
    &[align='end'] {
        justify-content: flex-end;
    }
    &[align='center'] {
        justify-content: center;
    }
}

.mat-dialog-content {
    max-height: initial;
}

.table-columns {
    background: rgb(197, 196, 196);
}

.container-box {
    width: 400px;
    max-width: 100%;
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
}

.containt-list {
  background: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 50vh;
    padding: 3em 3em;
    overflow-y: auto;
    max-height: 50vh;
}

.box {
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    // cursor: move;
    background: white;
    font-size: 14px;
    margin: 15px 0;
    border-radius: .5em;
}

.setItem {
    background: rgb(147, 199, 236);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
