<div fxLayout="column" class="w-100">
    <div mat-dialog-content cdkDropListGroupd fxLayout="row" fxLayoutAlign="space-evenly start">
        <div class="container-box" class="w-50 h-100">
            <h2>Avalable columns</h2>
            <div class="table-columns">
                <div cdkDropList #hiddenList="cdkDropList" [cdkDropListData]="hidden" [cdkDropListConnectedTo]="[noHiddenList]" (cdkDropListDropped)="drop($event) " class="containt-list">
                    <div *ngFor="let item of hidden">
                        <div *ngIf="!item?.includes('Value')" class="box" [ngClass]="{'setItem': itelLabel === item}" cdkDrag (click)="setItemRigth(item)">
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="column" style="margin: auto 4em;">
            <button [disabled]="btnToRigth" (click)="moveToRigth()" type="button" mat-raised-button class="m-1">
                Display
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button [disabled]="btnToLeft" (click)="moveToLeft()" type="button" mat-raised-button class="m-1">
                Hide
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <mat-checkbox color="accent">
                But keep hiding properties labels
            </mat-checkbox>
        </div>

        <div class="container-box" class="w-50 h-100">
            <h2>Table columns</h2>
           <!--  && !item.includes('ID') -->
            <div class="table-columns">
                <div cdkDropList #noHiddenList="cdkDropList" [cdkDropListData]="noHidden" [cdkDropListConnectedTo]="[hiddenList]" [cdkDropListEnterPredicate]="canDrop" (cdkDropListDropped)="drop($event)" class="containt-list">
                    <div *ngFor="let item of noHidden">
                        <div *ngIf="!item?.includes('Value')" class="box" cdkDrag (click)="setItemLeft(item)" [ngClass]="{'setItem': itelLabel === item}">
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align='center'>
        <button (click)="onClick()" mat-raised-button
        color="accent" tabindex="-1">CLOSE</button>
    </div>
</div>
