<div fxLayout="column">
    <h1 mat-dialog-title>Drap and drop content</h1>
    <div mat-dialog-content>
        <div cdkDropListGroupd fxLayout="row" fxLayoutAlign="space-evenly start">

            <div class="example-container ">
                <h2>Colonne Affichés</h2>

                <div cdkDropList #noHiddenList="cdkDropList" [cdkDropListData]="noHidden" [cdkDropListConnectedTo]="[hiddenList]" [cdkDropListEnterPredicate]="canDrop" (cdkDropListDropped)="drop($event)" class="containt-list">
                    <div *ngFor="let item of noHidden">
                        <div *ngIf="!item.includes('Value');" class="example-box" cdkDrag>
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="column">
                <button type="button" mat-raised-button class="m-3">
                    <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
                </button> <button type="button" mat-raised-button class="m-3">
                    <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
                </button>
            </div>

            <div class="example-container">
                <h2>Colonne masque</h2>

                <div cdkDropList #hiddenList="cdkDropList" [cdkDropListData]="hidden" [cdkDropListConnectedTo]="[noHiddenList]" (cdkDropListDropped)="drop($event)" class="containt-list">
                    <div *ngFor="let item of hidden">
                        <div *ngIf="!item.includes('Value');" class="example-box" cdkDrag>
                            {{ item.split('_').join(' ') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align='center'>
        <button mat-button (click)="onClick()" tabindex="-1">FERMER</button>
    </div>
</div>