<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end center" class="px-2 m-3">
        <button mat-mini-fab color="primary" aria-label="setting icon" (click)="openSettingTable()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div class="px-2 m-3">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 p-4 m-3 datatable" cdkDropList [cdkDropListData]="columns" (cdkDropListDropped)=" drop($event)" cdkDropListOrientation="horizontal" cdkDragHandle>

            <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column">
                <!-- // -->
                <th mat-header-cell *matHeaderCellDef class="drag_n_drop p-1" cdkDragBoundary=".datatable" cdkDragLockAxis="x" cdkDrag>
                    <div fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters">
                        <div mat-sort-header class="text-uppercase">
                            {{ column }}
                        </div>
                        <mat-form-field appearance="outline" id="filters">
                            <input matInput type="search" [formControlName]="column" autocomplete="off">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" (click)="getRow(row)" [ngClass]="{ 'highlight': selectedRowIndex == row.id} "> {{ row[column] }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]" showFirstLastButtons></mat-paginator>
    </div>
</div>