<button mat-menu-item [matMenuTriggerFor]="editCell">Edit Cell</button>
<mat-menu #editCell="matMenu">
  <button mat-menu-item (click)="convertToTitlecase(column)">To titleCase</button>
  <button mat-menu-item (click)="convertToUppercase(column)">To uppercase</button>
  <button mat-menu-item (click)="convertToLowercase(column)">To lowercase</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="convertToNumber(column)">To Number</button>
  <button mat-menu-item (click)="convertToDate(column)">To date</button>
  <button mat-menu-item (click)="convertToText(column)">To text</button>
</mat-menu>
