    .drawer-container {
        width: 500px;
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    .sidenav-drawer {
        padding: 20px;
    }
    
    .tab-group {
        border-bottom: 2px solid #e8e8e8;
    }
    
    .tab-content {
        padding: 16px;
    }
    
     ::ng-deep.mat-tab-link,
     ::ng-deep.mat-tab-label-active {
        min-width: 0!important;
        padding: 10px!important;
        // margin: 10px!important;
    }
    
    .mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .mat-form-field-underline {
            bottom: 0;
        }
    }