<mat-drawer-container class="h-100 sidenav-container" autosize>

    <mat-drawer #drawer class="sidenav-drawer" mode="side" opened>
        <app-side-menu></app-side-menu>
    </mat-drawer>

    <mat-drawer-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
        <div class="main_content" class="h-100">
            <mat-toolbar class="app-header px-4" [style.background]="'white'">
                <button (click)="onSinenavToggle()" mat-icon-button aria-label="menu icon">
                    <mat-icon *ngIf="!sideNavState">menu</mat-icon>
                    <mat-icon *ngIf="sideNavState">menu_open</mat-icon>
                </button>
                <div class="m-auto">
                    <input type="search" autocomplete="off" placeholder="search ..." />
                </div>

                <div class="spacer"></div>
                <ng-template #loginTemplete>
                    <button mat-button [routerLink]="['/connexion']" class="mx-3">
                        <mat-icon>login</mat-icon>Connecter
                    </button>
                </ng-template>
                <ng-template #logoutTemplete>
                    <button mat-button>
                        <!-- <mat-icon >insert_emoticon</mat-icon> -->
                            <img class="jim" src="https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/06/21/931/524/694940094001_5800293009001_5800284148001-vs.jpg?ve=1&tl=1" alt="">
                        John Doe
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon >reorder</mat-icon>Sample menu <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon  matBadge="3" matBadgePosition="before" matBadgeColor="warn">notification_important</mat-icon>Update
                    </button>
                    <button mat-button (click)="auth.logout()">
                        <mat-icon>logout</mat-icon>Déconnecter
                    </button>
                </ng-template>

                <ng-container *ngTemplateOutlet="!auth.currentUserSubject?.value ? loginTemplete : logoutTemplete">
                </ng-container>
            </mat-toolbar>
            <div class="p-3 w-100" fxLayout="column" fxLayoutAlign="space-between center">
                <div class="w-100 p-3" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <h2 class="m-0">Validator v6</h2>
                        <p class="m-0">Excel version 6</p>
                    </div>
                    <div>
                        <button mat-raised-button color="primary">Dasbord</button>
                    </div>
                </div>
                <section class="w-100 pt-4">
                    <nav mat-tab-nav-bar class="tab-group">
                        <a mat-tab-link [routerLink]="['file']" routerLinkActive #file="routerLinkActive" [active]="file.isActive"> Files </a>
                        <a mat-tab-link [routerLink]="['input']" routerLinkActive #input="routerLinkActive" [active]="input.isActive"> Input </a>
                        <a mat-tab-link [routerLink]="['check']" routerLinkActive #check="routerLinkActive" [active]="check.isActive"> Check </a>
                        <a mat-tab-link [routerLink]="['output']" routerLinkActive #output="routerLinkActive" [active]="output.isActive"> OutPut </a>
                    </nav>
                    <div class="py-4">
                        <router-outlet></router-outlet>
                    </div>
                </section>
            </div>
        </div>

    </mat-drawer-content>

</mat-drawer-container>