<div *ngIf="items.length > 0; else noItems">
  <div class="w-100 px-2 pb-3">
    <button class="rounded btn btn-light-primary">Refresh</button>
    <span fxFlex></span>
    <button class="rounded btn btn-light-primary" (click)="resetAll()">Reset All</button>
    <button class="rounded btn btn-light-primary" (click)="removeAll()">Remove All</button>
  </div>

  <div *ngFor="let item of items">
     <ng-container
      *ngTemplateOutlet="item.type === 'facet' ? facetTemplate : item.type === 'filter' ? filterTemplate : numericTemplate; context:{value: item}">
    </ng-container>

    <ng-template #facetTemplate let-currentValue="value">
       <div class="mx-1 pb-2" appFluidHeight>
      <div class="p-0 w-100 rounded" style="border: 1px solid #bbccff;">
        <div class="py-2 px-2 rounded-top" style="background: #bbccff;" fxLayout="row" >
          <mat-icon aria-label="close icon" (click)="removeFromItem(item)">
            highlight_off
          </mat-icon>
          <mat-icon *ngIf="item['isMinimize'] === false" aria-label="close icon" (click)="minimize(item)">
            remove_circle_outline
          </mat-icon>
          <mat-icon *ngIf="item['isMinimize'] === true" aria-label="close icon" (click)="minimize(item)">
            add_circle_outline
          </mat-icon>
          <span style="font-weight: 600;">{{ item['head'] }}</span>
          <span fxFlex></span>
          <div class="pointer">change</div>
        </div>
         <div fxLayout="row" class="py-2 px-2" style="background: #EEE5FF;"
         *ngIf="item['isMinimize'] === false">
          <div class="pr-3 pointer"> 1 choices</div>
          <div> Sort by : <span class="px-1 pointer">name</span><span class="px-1 pointer">count</span> </div>
        </div>
        <div class="py-2" style="height: 150px; overflow: auto"
        *ngIf="item['isMinimize'] === false">
          <div fxLayout="row" class="py-0 px-2 list-content" fxLayoutAlign="space-between center"
          *ngFor="let content of item?.content">
            <div fxLayout="row">
              <p class="font-weight-bold m-0 pr-2 pointer" [ngStyle]="{'color':content['include'] === false ? '#3d5be2' : '#ff6a00' }">{{ content[0] }}</p>
              <span style="color: #a89ca2"> {{ content[1] }} </span>
            </div>
            <span class="only-show-on-hover pointer" *ngIf="content['include'] === false" (click)="include(item, content[0])">include</span>
            <span class="pointer" *ngIf="content['include'] === true" (click)="exclude(item, content[0])">exclude</span>
          </div>
        </div>
      </div>
      <div class="w-100 resizable"></div>
    </div>
    </ng-template>

    <ng-template #filterTemplate let-currentValue="value">
      <div class="mx-1 pb-2">
        <div class="p-0 w-100 rounded" style="border: 1px solid #F2F3F7; color: #A7ABC3;">
          <div class="py-2 px-2 rounded-top" style="background: #F2F3F7; color: #A7ABC3;" fxLayout="row">
            <mat-icon aria-label="close icon" (click)="removeFromItem(item)">
              highlight_off
            </mat-icon>
            <mat-icon *ngIf="item['isMinimize'] === false" aria-label="close icon" (click)="minimize(item)">
              remove_circle_outline
            </mat-icon>
            <mat-icon *ngIf="item['isMinimize'] === true" aria-label="close icon" (click)="minimize(item)">
              add_circle_outline
            </mat-icon>
            <span style="font-weight: 600;">{{ item['head'] }}</span>
            <span fxFlex></span>
            <div style="font-weight: 600;" class="pointer px-1">invert</div>
            <div style="font-weight: 600;" class="pointer px-1">reset</div>
          </div>
          <div class="py-0" *ngIf="item['isMinimize'] === false" [formGroup]="formGroup">
            <input autocomplete="off" type="search" class="w-100" placeholder="Filter ..." [formControlName]="item['head']" appearance="outline" class="form-control">
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="py-3"
          style="background: #f6f7f9; color: #A7ABC3;" *ngIf="item['isMinimize'] === false">
            <mat-checkbox>case sensitive</mat-checkbox>
            <mat-checkbox>regular expression</mat-checkbox>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #numericTemplate let-currentValue="value">
      <app-numeric-facet
      [items]='items'
      [item]='item'
      [minValue]="item['minValue']"
      [maxValue]="item['maxValue']"
      [options]="item['options']"
      [dataViews]='dataViews'
      [dataSources]='dataSources'
      (numericQueriesEmitter)="checkNumericFacet($event)"
      ></app-numeric-facet>
      {{ item['head'] }}
    </ng-template>
  </div>
</div>

<ng-template #noItems>
  <div style="background: #EEE5FF;" class="w-100 px-3 py-5">
    <h1>Using facets and filters</h1>
    <p class="m-0">
      Use facets and filters to select subsets of your data to act on. Choose facet and filter methods from the menus at the top of each data column.
    </p>
</div>
</ng-template>

