:host ::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
  .mat-horizontal-content-container{
    padding: 0 15px 0 15px !important;
    background: white !important;
  }
}
