<mat-horizontal-stepper
  [linear]="true"
  #stepper
  [selectedIndex]="selectedStepperIndex"
>
  <mat-step completed="false" editable="false" label="Fill out your address">
    <app-viwer-import
      [user]="user"
      (importFile)="nextReadFile($event)"
    ></app-viwer-import>
  </mat-step>
  <mat-step completed="false" editable="false">
    <ng-template matStepLabel>Done</ng-template>
    <app-viwer-read-import
      [inputFilters]="inputFilters"
      [filtersData]="filtersData"
      [idProject]="idProject"
      [dataAfterUploaded]="dataAfterUploaded"
    ></app-viwer-read-import>
  </mat-step>
</mat-horizontal-stepper>
