<div fxLayout="row" class="d-flex flex-column flex-root" style="height: 100%;">
    <div class="row" style="height: 100%; width:100%;background-color: white;">
        <div class="col-md-5" style="background-image: url('../../../assets/images/bg_sign.png');background-repeat: no-repeat; height: 100%;background-size: auto 100%;">

        </div>
        <div class="col-md-7" style="margin:auto;">
            <div fxLayout="column" class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
                <!--begin::Content body-->
                <div class="d-flex flex-column-fluid flex-center centre">

                    <!--begin::Signin-->
                    <div fxLayout="column" fxLayoutAlign="space-between center" class="login-form login-signin sous-host d-flex flex-column-auto flex-column">
                        <!--begin::Form-->
                        <form class="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                            <!--begin::Title-->
                            <div class="pb-13 pt-lg-0 pt-5" fxLayout="column" fxLayoutAlign="center center">
                                <div class="w-100" fxLayoutAlign="center center">
                                    <img mat-card-image fxLayoutAlign="center center" src="/assets/images/logo.png" alt="Logo">
                                </div>
                                <div class="w-100 mt-3" fxLayoutAlign="center center">
                                    <mat-card-title class="py-2 signin-text">Enter your email an we send you a password reset link.</mat-card-title>
                                </div>
                            </div>

                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                            </mat-form-field>

                            <div class="pb-lg-0 pb-5 my-5" fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <button mat-raised-button type="submit" class="m-2 btn-signin" color="primary">Send request</button>
                                </div>
                            </div>
                        </form>
                    </div>



                </div>
                <!--end::Content body-->

                <!--begin::Content footer-->
                <!-- <p class="term">Terms of use. Privacy policy</p> -->
                <!--end::Content footer-->

            </div>
            <!--end::Content-->
        </div>
        <!--end::Login-->
    </div>
</div>