<div fxLayout="column" class="w-100">
    <div fxLayout="row" fxLayoutAlign="end center" class="px-2 m-3">
        <!-- <button mat-mini-fab color="accent" aria-label="setting icon">
            <mat-icon>settings</mat-icon>
        </button> -->
        <mat-form-field appearance="outline" id="filters">
            <mat-label>Search</mat-label>
            <input matInput type="search" autocomplete="off" [formControl]="search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Table intef list</span>
        <!-- <button type="button" mat-raised-button color="accent" class="m-3" (click)="tableOpons()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            tableOptions
        </button> -->
        <a mat-list-item style="cursor: pointer;" (click)="tableOpons()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            <span>Table options </span>
        </a>
    </div>
    <div class="px-2 m-3 table-container">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 p-4 m-3 datatable " cdkDropList [cdkDropListData]="dataView.data" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" cdkDragHandl>

            <div *ngFor="let column of displayColumns; let i = index">
                <ng-container [matColumnDef]="column">
                    <th [ngClass]="{'hide-rows': column == '_id' || column == 'select' || column == '__v' || column == 'idProduct'}" mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate" cdkDragBoundary=".datatable" cdkDragLockAxis="x" cdkDrag>
                        <div fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 px-4 py-2 table-container-th">
                                <div mat-sort-header class="text-uppercase">
                                    {{ column.split('_').join(' ') }}
                                </div>
                                <div cdkDragHandle class="drag_n_drop pl-3">
                                    <mat-icon>api</mat-icon>
                                </div>
                            </div>
                            <mat-form-field appearance="outline" id="filter-table">
                                <input matInput type="search" [placeholder]="column + ' ...'" [formControlName]="column" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </th>

                    <td [ngClass]="{'hide-rows': column == '_id' || column == 'select' || column == '__v' || column == 'idProduct', 'tr-inpaire': indexRow % 2 == 0, 'tr-paire': indexRow % 2 != 0}" mat-cell *matCellDef="let row; let indexRow = index" [matTooltip]="row[column]"
                        class="table-container-td" (click)="column == 'ItemType' ? openTuneIt(i+'_'+indexRow, row, $event) : ''" [id]="i +'_'+ indexRow">
                        {{ row[column] }}
                    </td>
                </ng-container>
            </div>


            <tr mat-header-row *matHeaderRowDef="dataView.displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataView.displayColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]" showFirstLastButtons></mat-paginator>

    <div fxLayout="row" fxLayoutAlign="end center" class="w-100">
        <button type="button" mat-raised-button color="accent" class="m-3" (click)="openSettingTable()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            Settings
        </button>
        <button type="button" mat-raised-button color="accent" class="m-3" (click)="dataMachingReady()">
            Check Revelancy
        </button>
    </div>
</div>
