<div fxLayout="column" class="w-100">
  <div fxLayout="row" fxLayoutAlign="end center" class="px-2 m-3"
    style="padding-right: 0 !important;">
    <!-- <button mat-mini-fab color="accent" aria-label="setting icon">
            <mat-icon>settings</mat-icon>
        </button> -->
    <mat-form-field appearance="outline">
      <mat-label>Quick Search</mat-label>
      <input matInput type="search" #searchInput placeholder="Quick Search" autocomplete="off"
        [formControl]="search">
      <mat-icon *ngIf="searchInput.value == ''" matPrefix>search</mat-icon>
      <mat-icon *ngIf="searchInput.value != ''" (click)="search.reset()" matPrefix
        class="bg-light rounded-circle" color="warn">close</mat-icon>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-3">
    <h3 class="text-dark font-weight-bold my-1 mr-5">
      Selected: {{ countRevelancy }} / {{ dataSource?.data?.length }}
    </h3>

    <a mat-list-item style="cursor: pointer;" (click)="tableOpons()">
      <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
      <span style="ont-size: 1em;" class="menu-text">Table options </span>
    </a>
  </div>

  <div class="px-0 my-0 table-container" role="tables">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
      class="w-100 p-0 m-0 datatable " cdkDropList [cdkDropListData]="dataView.data"
      (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">

      <div *ngFor="let column of displayColumns; let i = index">
        <!-- NUÙBER Column -->
        <ng-container *ngIf="column === 'number'" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate">
            <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters"
              class="w-100 bg-white">
              <div fxLayout="column" class="w-100">
                <div fxLayout="row" fxLayoutAlign="center center center" class="px-4  py-3 pt-1"
                  style="height: 49px;">
                  <div style="color: #fff;">#</div>
                </div>
              </div>
              <div style="height: 4em" class="text-center bg-white">
                <mat-checkbox color="accent" style="visibility: hidden; margin: 20px;">
                </mat-checkbox>
              </div>
            </span>
          </th>
          <td mat-cell [class.odd]="odd" [class.even]="even"
            *matCellDef="let row; let indexRow = index; let even = even; let odd = odd" class="px-5"
            [class.active]="isRowSelected(row)" class="p-0 text-center">
            <div class="bg-whire">
              {{ indexRow + 1 }}
            </div>
          </td>
        </ng-container>


        <!-- SELECT Column -->
        <ng-container *ngIf="column === 'select'" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate">
            <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters"
              class="w-100 bg-white">
              <div fxLayout="column" class="w-100">
                <!-- <div class="drag_n_drop  pt-3" cdkDragHandle></div> -->
                <div fxLayout="row" fxLayoutAlign="center center center" class="px-4  py-3 pt-1"
                  style="height: 49px;">
                  <div style="color: #42425e;">.</div>
                  <div mat-sort-header class="p-0">
                    <i class="fas fa-sort"></i>
                  </div>
                </div>
              </div>
              <div style="height:4em" class="text-center bg-white">
                <mat-checkbox style="margin: 20px;" color="accent" [checked]="allSelect"
                  (change)="setAllRelevency($event.checked)" [indeterminate]="someComplete()"></mat-checkbox>
              </div>
            </span>
            <!-- <mat-checkbox color="accent" [checked]="allSelect" (change)="setAll($event.checked)" [indeterminate]="someComplete()"></mat-checkbox> -->
          </th>
          <!-- (ngModelChange)="updateAllComplete()" (click)="selectRow(row)"  -->
          <td mat-cell [class.odd]="odd" [class.even]="even"
            *matCellDef="let row; let indexRow = index; let even = even; let odd = odd" class="px-5"
            [class.active]="isRowSelected(row)" class="p-0 text-center" (click)="selectRowRelevency(row)">
            <div class="bg-whire">
              <mat-checkbox color="accent" [(ngModel)]="row[column]"
                (ngModelChange)="updateAllComplete()">
              </mat-checkbox>
            </div>
          </td>
        </ng-container>

        <!-- DYNAMICS Column -->
        <ng-container [matColumnDef]="column" *ngIf="column !== 'select' && column !== 'number'">
          <th mat-header-cell [ngClass]="{'hide-rows': isColumnDisplay(column)}" *matHeaderCellDef
            class="px-1 py-1 text-truncate" cdkDragBoundary=".datatable" cdkDragLockAxis="x"
            cdkDrag>

            <span fxLayout="column" fxLayoutAlign="space-between center" class="w-100 bg-white"
              [formGroup]="filters" [resizeColumn]="true" [index]="i" [maxWidth]="mawWidth">
              <div fxLayout="column" class="w-100">
                <div class="drag_n_drop  pt-3" cdkDragHandle (click)="getWidth(i)"></div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="px-4 pb-3 pt-1"
                  mat-sort-header>
                  <div>
                    {{ column | removeUnderscore | capitalizeFirstPipe }}
                  </div>
                  <div class="pl-3">
                    <i *ngIf="icon === '' && active === column" class="fas fa-sort"></i>
                    <i *ngIf="icon === 'asc' && active === column" class="fas fa-sort-up"></i>
                    <i *ngIf="icon === 'desc' && active === column" class="fas fa-sort-down"></i>
                  </div>
                </div>
              </div>
              <div style="height: 4em;" class="bg-white">
                <mat-form-field appearance="outline" id="formTable">
                  <input matInput type="search" #search placeholder="Smart Query or Regex ready"
                    [formControlName]="column" autocomplete="off">
                  <button mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearInput(column)" [ngClass]="{'invisible': !search.value }" >
                    <mat-icon *ngIf="search.value" class="bg-light rounded-circle" color="warn">close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </span>
          </th>

          <td mat-cell *matCellDef="let row; let indexRow = index; let even = even; let odd = odd"
            [class.odd]="odd" [class.even]="even" [ngClass]="{'hide-rows': isColumnDisplay(column)}"
            [id]="i +'_'+ indexRow" appTuniIt [appTuniIt]="isPopTuneIt(column, row[column])"
            [class.active]="isRowSelected(row)">
            <!-- [ngClass]="{'pointer_item': isPopTuneIt(column, row[column])}"  -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"
              style="padding-right: 10px;">
              <span class="w-100" [ngClass]="{'m-auto text-center': isNumberOrString(row[column]) }" role="row">
                {{ row[column] }}
                <div *ngIf="row[column] === ''" class="text-center" style="opacity: 0.5;"> - </div>
              </span>
              <button #button style="display: none; color: #fff; background-color: #3b85fe;"
                mat-stroked-button *ngIf="isPopTuneIt(column, row[column])"
                (click)="isPopTuneIt(column, row[column]) ? openTuneIt(i+'_'+indexRow, row, $event, column) : ''">
                Tune it !
              </button>
              <div #content style="padding: 0 20px;" class="Test" [id]="i+'revelancy'+indexRow">
                {{ row[column] }}
              </div>
            </div>
          </td>
        </ng-container>
      </div>


      <tr mat-header-row *matHeaderRowDef="dataView?.displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataView?.displayColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="text-center" [colSpan]="dataView.displayColumns.length">No data</td>
      </tr>
    </table>

  </div>

  <mat-paginator showFirstLastButtons [length]="dataSource.data.length" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]"></mat-paginator>

  <div fxLayout="row" fxLayoutAlign="end center" class="w-100">
    <button type="button" mat-raised-button color="accent" class="m-3" (click)="openSettingTable()">
      <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
      Settings
    </button>
    <button type="button" mat-raised-button color="accent" class="m-3" (click)="dataMachingReady()">
      Check Revelancy
    </button>
  </div>
</div>
