<div fxLayout="column" class="w-100">
    <div fxLayout="row" fxLayoutAlign="end center" class="px-2 m-3">
        <!-- <button mat-mini-fab color="primary" aria-label="setting icon">
            <mat-icon>settings</mat-icon>
        </button> -->
        <mat-form-field appearance="outline" id="filters">
            <mat-label>Search</mat-label>
            <input matInput type="search" autocomplete="off" [formControl]="search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Table intef list</span>
        <!-- <button type="button" mat-raised-button color="primary" class="m-3" (click)="tableOpons()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            tableOptions
        </button> -->
        <a mat-list-item (click)="tableOpons()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            <span>Table options </span>
        </a>
    </div>
    <div class="px-2 m-3 table-container">
        <table *ngIf="displayColumns.length > 0" mat-table [dataSource]="dataSource" matSort class="w-100 p-4 m-3 datatable " cdkDropList [cdkDropListData]="dataView.data" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" cdkDragHandl>

            <div *ngFor="let column of displayColumns; let i = index">
                <!-- SELECT Column -->
                <ng-container *ngIf="column === 'select'" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" [checked]="allSelect" (change)="setAll($event.checked)" [indeterminate]="someComplete()"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row; let index = index" [ngClass]="{'tr-inpaire': index % 2 == 0, 'tr-paire': index % 2 != 0}">
                        <mat-checkbox color="primary" [(ngModel)]="row[column]" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- DYNAMICS Column -->
                <ng-container [matColumnDef]="column" *ngIf="column !== 'select'">
                    <th [ngClass]="{'hide-rows': column === 'ID'}" mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate" cdkDragBoundary=".datatable" cdkDragLockAxis="x" cdkDrag>
                        <div fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 px-4 py-2 table-container-th">
                                <div mat-sort-header class="text-uppercase">
                                    {{ column.split('_').join(' ') }}
                                </div>
                                <div cdkDragHandle class="drag_n_drop pl-3">
                                    <mat-icon>api</mat-icon>
                                </div>
                            </div>
                            <mat-form-field appearance="outline" id="filter-table ">
                                <input matInput type="search" [placeholder]="column + ' ...'" [formControlName]="column" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </th>
                    <td [ngClass]="{'hide-rows': column === 'ID', 'tr-inpaire': indexRow % 2 == 0, 'tr-paire': indexRow % 2 != 0}" mat-cell *matCellDef="let row; let indexRow = index" (click)="selectRow(row)" [matTooltip]="row[column]" class="table-container-td">{{ row[column] }} </td>
                </ng-container>
            </div>

            <div *ngIf="dataSource.data.length === 0">
                No Records Found !
            </div>


            <tr mat-header-row *matHeaderRowDef="dataView.displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataView.displayColumns;"></tr>
        </table>

        <div *ngIf="displayColumns.length === 0">
            No data !
        </div>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]" showFirstLastButtons></mat-paginator>

    <div fxLayout="row" fxLayoutAlign="end center" class="w-100">
        <button type="button" mat-raised-button color="primary" class="m-3" (click)="openSettingTable()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            Settings
        </button>
        <button type="button" mat-raised-button color="primary" class="m-3" (click)="next.emit()">
            Check Revelancy
        </button>
    </div>
</div>