::ng-deep {
    .mat-horizontal-content-container {
        padding: 24px 24px 24px 24px !important;
        background: white;
    }
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: #fafafa !important;
    }
    //align button mat-dialog-action
    .mat-dialog-actions {
        &[align='end'] {
            justify-content: flex-end !important;
        }
        &[align='center'] {
            justify-content: center !important;
        }
    }
    .hide-rows {
        display: none;
    }
    #filter-table {
        padding-bottom: 0em !important;
    }
    .table-container-td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 2em;
    }
    tr.mat-row,
    tr.mat-footer-row {
        height: 30px !important;
    }
    .table-container-th {
        background: #40425d;
        color: white;
    }
    .tr-paire {
        background: whitesmoke;
    }
    .tr-inpaire {
        background: white;
    }
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
        padding-left: 12px;
        padding-right: 12px;
    }
    // .table-header {
    //     // flex: none;
    //     width: 100px;
    // }
    @media (min-width: 1200px) {
        .container-xl,
        .container-lg,
        .container-md,
        .container-sm,
        .container {
            max-width: 100% !important;
        }
    }
    [mat-align-tabs=center]>.mat-tab-header .mat-tab-labels {
        display: none !important;
    }
}