::ng-deep {
    .mat-horizontal-content-container {
        padding: 24px 24px 24px 24px !important;
        background: white;
    }
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: #fafafa !important;
    }
    //align button mat-dialog-action
    .mat-dialog-actions {
        &[align='end'] {
            justify-content: flex-end !important;
        }
        &[align='center'] {
            justify-content: center !important;
        }
    }
    // .table-header {
    //     // flex: none;
    //     width: 100px;
    // }
    @media (min-width: 1200px) {
        .container-xl,
        .container-lg,
        .container-md,
        .container-sm,
        .container {
            max-width: 100% !important;
        }
    }
}