::ng-deep{
  .clip-path{
    margin-left: auto;
    margin-right: 0;
    background: #9B505D;
    width: 20px;
    height: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    top: 0;
  }
    /* in global css document: */
/* this makes it so that sort header arrow is always shown: */
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 1 !important;
    color: #fff;

  }
/* Hide the default sort arrow display: */
.mat-sort-header-stem {
    display: none  !important;
}
.mat-sort-header-pointer-left, .mat-sort-header-pointer-right {
    display: none  !important;
}
.mat-sort-header-pointer-middle{
    width: 0px !important;
    height: 0px !important;
    top: -1.2em !important;
}
/* show two carets on top of each other when not sorted takes place: */
.mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        // content: "<>";
        // content: "ᐊᐅ";
        // position: absolute;
        // opacity: 1 !important;
        // color:  rgb(255, 255, 255) !important;
        // // font-size: 1.2em;
        // font-weight: bold;
        // transform: translate(-10%, 20%)   rotate(90deg) !important;
        // top: -1.2em !important;
        // font-size: .8em;
      }
    }
  }

  /* show ascending caret when sorted ascending:*/
[aria-sort="ascending"] {
    .mat-sort-header-arrow {
         .mat-sort-header-indicator {
           &::before {
            //  content: "<";
            //  content: "ᐊ";
            //  position: absolute;
            //  color:  #fff !important;
            //  opacity: 1 !important;
            // //  font-size: 1.2em;
            //  font-weight: bold;
            //  transform: translate(0,0) rotate(90deg) !important;
            //  top: -0.9rem !important;
            //  font-size: .8em;
           }
         }
       }
     }

      /* show descending caret when sorted descending: */
  [aria-sort="descending"] {
    .mat-sort-header-arrow {
          .mat-sort-header-indicator {
            &::before  {
              // content: ">";
              // content: "ᐅ";
              // position: absolute;
              // color:  #fff !important;
              // opacity: 1 !important;
              // font-size: 1.2em;
              // font-weight: bold;
              // transform: translate(0,-10%) rotate(90deg) !important;
              // top: -0.5rem !important;
              // font-size: .8em
            }
          }
        }
      }
}

/*
[aria-sort='ascending'] {
  ::ng-deep .mat-sort-header-arrow{
    .mat-sort-header-indicator {
      &::before{
        font: normal normal normal 1.1rem/1 FontAwesome;
        content: "\f0d7";
        position: absolute;
        top: .2rem;
      }
    }
  }
}

[aria-sort='descending'] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before{
        font: normal normal normal 1.1rem/1 FontAwesome;
        content: "\f0d8";
        position: absolute;
        top: -.9rem;
      }
    }
  }
}


22
::ng-deep .mat-sort-header-arrow[style] {

  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
      display: none;
    }
  }
}

// My custom ascending arrow
[aria-sort="ascending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "\2191";
        top: -1.6em;
        position: absolute;
      }
    }
  }
}

// My custom descending arrow
[aria-sort="descending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "\2193";
        top: -2.4em;
        position: absolute;
      }
    }
  }
} */
