::ng-deep {
    //align button mat-dialog-action
    .mat-dialog-actions {
        &[align='end'] {
            justify-content: flex-end;
        }
        &[align='center'] {
            justify-content: center;
        }
    }
    .letter {
        display: flex!important;
        width: 50px!important;
        height: 50px!important;
        align-items: center!important;
        font-size: 35px!important;
        justify-content: center!important;
        font-weight: bold!important;
        border-radius: 15%!important;
    }

    .card-header {
        padding: 0;
    }
}
