mat-dialog-container.mat-dialog-container {
    margin: 0 !important;
    padding: 10px 15px 0 !important;
}

mat-dialog-content.mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}
