mat-dialog-container.mat-dialog-container {
    margin: 0 !important;
    padding: 10px 15px 0 !important;
    overflow-y: hidden;
}

mat-dialog-content.mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}

.panel1{
  width: 400px !important;
}
.panel2{
  width: 650px !important;
}

mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 15px 15px 15px 15px;
}

.bnt1{
  width: 5em !important;
}

.bnt2{
  width: 11em !important;
}
