<mat-card>
    <mat-card-header>
        <div class="card-header border-0">
            <h3 class="card-title align-items-start" fxLayout="column">
                <span class="card-label font-weight-bolder text-dark">LPViewer Projects Overview</span>
                <span class="text-muted mt-0 font-weight-bold font-size-sm">{{ (allProjects$ | async)?.length }}
          projects</span>
            </h3>
        </div>
        <div>
            <button mat-raised-button color="primary">
            <a routerLinkActive="active" routerLink="/user-space/lp-viewer"
              style="color: white!important;">
              <span class="menu-text">Import</span>
            </a>
          </button>
        </div>
    </mat-card-header>
    <mat-card-content class="mx-5">
        <app-lp-viewer-projects [allProjects$]="allProjects$"></app-lp-viewer-projects>
    </mat-card-content>
</mat-card>