::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: .5em 0 0.7em 0 !important;
    }
    .mat-form-field-infix {
        // padding: 0.5em 0;
        border-top: 0.55em solid transparent !important;
    }
    .upload-button {
        max-height: 2.5em !important;
        min-width: auto !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    .letter {
        width: 70px;
        height: 70px;
        // margin: auto 5px;
        text-align: center;
        font-size: 5vh;
        justify-content: center;
        padding: 26px 22px;
        font-weight: bold;
        border-radius: 50%;
    }
    .text-error{
        color: #F68683!important;
    }

    input:hover {
        border-color: #40425D!important;
    }

    .form-group .form-text, .mat-radio-button, .txt-muted {
        font-size: 1rem!important;
        font-weight: 400!important;
    }

    .mat-radio-button {
        color: #B5B5C3 !important;
    }

    .mat-card-header {
        border-bottom: 1px solid #ebedf2;
        padding: 1rem;
    }

    .mat-card-header .mat-card-title {
        font-size: 1.3rem;
        font-weight: 500;
        color: #575962;
    }

    .mat-card {
        padding: 0!important;
    }

    // $err: text-error;

    .err {
        border-color: #F68683!important;
    }

    input[type="color"] {
        -webkit-appearance: none;
    }
    input[type="color"]::-webkit-color-swatch {
        border: none;
    }

    .mat-card-header-text {
        margin: 0 16px;
        padding-top: 10px;
    }

    .mat-card-subtitle, .mat-card-content {
        padding: 2.2rem;
    }

    .add-project {
        right: 2.2rem;
        bottom: 2rem;
    }
}