<div fxLayout="column" class="w-100">
    <div fxLayout="row"
    fxLayoutAlign="space-between center" class="px-2 m-3">
      <div class="w-50">
        <mat-progress-bar mode="buffer" color="accent" [value]="progressBarValue"></mat-progress-bar>
      </div>

        <mat-form-field appearance="outline" id="filters">
            <mat-label>Search</mat-label>
            <input matInput type="search" placeholder="Quick Search ..." autocomplete="off" [formControl]="search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- <span>Table intef list</span> -->

        <!-- <a mat-list-item (click)="tableOpons()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings_suggest</mat-icon>
            <span>Table options </span>
        </a> -->
    </div>
    <div class="px-2 m-3 table-container">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 p-4 m-3 datatable " cdkDropList [cdkDropListData]="dataView.data" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" cdkDragHandl>

            <div *ngFor="let column of displayColumns; let i = index">
                <ng-container [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef class="p-1 text-truncate" cdkDragBoundary=".datatable" cdkDragLockAxis="x" cdkDrag>
                        <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters" class="w-100" [resizeColumn]="true" [index]="i">
                            <div fxLayout="column" class="w-100">
                                <div class="clip-path">.</div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="px-4 py-2">
                                    <div>
                                        {{ column.split('_').join(' ') | uppercase }}
                                    </div>
                                    <div mat-sort-header class="pl-3">
                                        <!-- <i class="fas fa-sort"></i> -->
                                    </div>
                                </div>
                                <!-- <div cdkDragHandle class="drag_n_drop ">
                                    <mat-icon>api</mat-icon>
                                </div> id="filter-table" -->
                            </div>
                            <mat-form-field appearance="outline" id="filter-table ">
                                <input matInput type="search" placeholder="Smart or quick query ..." [formControlName]="column" autocomplete="off">
                            </mat-form-field>
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let row; let indexRow = index; let even = even; let odd = odd" [class.odd]="odd" [class.even]="even" [matTooltip]="row[column]" class="table-container-td" [ngSwitch]="column">
                        <div *ngSwitchCase="'Valid'">
                            <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto"></mat-spinner>
                            <mat-icon class="m-auto" color="accent" *ngIf="row[column]===true">done</mat-icon>
                            <mat-icon class="m-auto" color="warn" *ngIf=" row[column]===false">close</mat-icon>
                        </div>
                        <div *ngSwitchCase="'Popular Search Queries'">
                            <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto"></mat-spinner>
                            <div *ngIf="row[column]!=='loadingQuery'" >
                                {{ row[column] }}
                            </div>
                        </div>
                        <div *ngSwitchCase="'Website Browser'">
                            <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto"></mat-spinner>
                            <div *ngIf="row[column]!=='loadingQuery'">
                                {{ row[column] }}
                            </div>
                        </div>
                        <div *ngSwitchDefault>{{ row[column] }}</div>
                    </td>
                </ng-container>
            </div>

            <tr mat-header-row *matHeaderRowDef="dataView.displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataView.displayColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]" showFirstLastButtons></mat-paginator>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button type="button" mat-raised-button color="accent" class="m-3">
            Display Revelant List Page
        </button>

        <div fxLayoutAlign="end center" class="w-100">
            <button type="button" mat-raised-button color="accent" class="m-3">
            Export
            </button>
            <button type="button" mat-raised-button color="accent" class="m-3">
                Send data to ...
            </button>
        </div>
    </div>

</div>
