.datatable:not(.table) {
    display: revert;
  }
  .drag_n_drop {
    cursor: move !important;
  }

::ng-deep {
    circle.ng-star-inserted {
        stroke-dasharray: 20px !important;
        stroke-width: 7% !important;
    }
}

div.middle{
    text-align: center;
}