.datatable:not(.table) {
    display: revert;
  }
  .drag_n_drop {
   cursor: pointer !important;
  }

::ng-deep {
    circle.ng-star-inserted {
        stroke-dasharray: 20px !important;
        stroke-width: 7% !important;
    }
}

div.middle{
    text-align: center;
}

.Test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap; /* Thanks to Herb Caudill comment */
}
.active {
  background: #b6e1ff !important;
}
