<div fxLayout="column" class="w-100">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="px-2 m-3">
    <div class="w-50">
      <!-- <mat-progress-bar mode="buffer" color="accent" [value]="progressBarValue"></mat-progress-bar> -->
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Quick Search</mat-label>
      <input matInput type="search" #searchInput placeholder="Quick Search" autocomplete="off"
        [formControl]="search">
      <mat-icon *ngIf="searchInput.value == ''" matPrefix>search</mat-icon>
      <mat-icon *ngIf="searchInput.value != ''" (click)="search.reset()" matPrefix
        class="bg-light rounded-circle" color="warn">close</mat-icon>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h3 class="text-dark font-weight-bold my-1 mr-5">
      Selected: {{ countGoogle }} / {{ dataSource?.data?.length }}
    </h3>
  </div>

  <div class="px-0 my-0 table-container" role="tables">
    <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort
      class="w-100 p-0 m-0 datatable " cdkDropList [cdkDropListData]="dataView.data"
      (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" cdkDragHandle>

      <div *ngFor="let column of displayColumns; let i = index">
        <!-- NUÙBER Column -->
        <ng-container *ngIf="column === 'number'" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate">
            <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters"
              class="w-100 bg-white">
              <div fxLayout="column" class="w-100">
                <div fxLayout="row" fxLayoutAlign="center center center" class="px-4  py-3 pt-1"
                  style="height: 49px;">
                  <div style="color: #fff;">#</div>
                </div>
              </div>
              <div style="padding: 17px;" class="text-center bg-white">
                <mat-checkbox color="accent" style="visibility: hidden;">
                </mat-checkbox>
              </div>
            </span>
          </th>
          <td mat-cell [class.odd]="odd" [class.even]="even"
            *matCellDef="let row; let indexRow = index; let even = even; let odd = odd" class="px-5"
            [class.active]="isRowSelected(row)" class="p-0 text-center">
            <div class="bg-whire">
              {{ indexRow + 1 }}
            </div>
          </td>
        </ng-container>


        <!-- SELECT Column -->
        <ng-container *ngIf="column === 'select'" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="px-1 py-1 text-truncate">
            <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters"
              class="w-100 bg-white">
              <div fxLayout="column" class="w-100">
                <!-- <div class="drag_n_drop  pt-3" cdkDragHandle></div> -->
                <div fxLayout="row" fxLayoutAlign="center center center" class="px-4  py-3 pt-1"
                  style="height: 49px;">
                  <div style="color: #42425e;">.</div>
                  <div mat-sort-header class="p-0">
                    <i class="fas fa-sort"></i>
                  </div>
                </div>
              </div>
              <div style="padding: 17px;" class="text-center bg-white">
                <mat-checkbox color="accent" [checked]="allSelect" (change)="setAllGoogle($event.checked)"
                  [indeterminate]="someComplete()"></mat-checkbox>
              </div>
            </span>
            <!-- <mat-checkbox color="accent" [checked]="allSelect" (change)="setAll($event.checked)" [indeterminate]="someComplete()"></mat-checkbox> -->
          </th>
          <!-- (ngModelChange)="updateAllComplete()" (click)="selectRow(row)"  -->
          <td mat-cell [class.odd]="odd" [class.even]="even"
            *matCellDef="let row; let indexRow = index; let even = even; let odd = odd" class="px-5"
            [class.active]="isRowSelected(row)" class="p-0 text-center" (click)="selectRowGoogle(row)">
            <div class="bg-whire">
              <mat-checkbox color="accent" [(ngModel)]="row[column]"
                (ngModelChange)="updateAllComplete()">
              </mat-checkbox>
            </div>
          </td>
        </ng-container>

        <!-- DYNAMICS Column -->
        <ng-container [matColumnDef]="column" *ngIf="column !== 'select' && column !== 'number'">
          <th mat-header-cell *matHeaderCellDef class="p-1 text-truncate"
            cdkDragBoundary=".datatable" cdkDragLockAxis="x" cdkDrag
            [ngClass]="{'hide-rows': isColumnDisplay(column)}">
            <span fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="filters"
              class="w-100 bg-white" [resizeColumn]="true" [index]="i" [maxWidth]="mawWidth">
              <div fxLayout="column" class="w-100">
                <div class="drag_n_drop  pt-3" cdkDragHandle (click)="getWidth(i)"></div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="px-4 pb-3 pt-1"
                  mat-sort-header>
                  <div>
                    {{ column | removeUnderscore | capitalizeFirstPipe }}
                  </div>
                  <div class="pl-3">
                    <i *ngIf="icon === '' && active === column" class="fas fa-sort"></i>
                    <i *ngIf="icon === 'asc' && active === column" class="fas fa-sort-up"></i>
                    <i *ngIf="icon === 'desc' && active === column" class="fas fa-sort-down"></i>
                  </div>
                </div>
              </div>
              <div style="height: 4em;" class="bg-white">
                <mat-form-field appearance="outline" id="formTable">
                  <input matInput type="search" #search placeholder="Smart Query or Regex ready"
                    [formControlName]="column" autocomplete="off">
                  <button mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearInput(column)" [ngClass]="{'invisible': !search.value }" >
                    <mat-icon *ngIf="search.value" class="bg-light rounded-circle" color="warn">close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </span>
          </th>
          <td mat-cell *matCellDef="let row; let indexRow = index; let even = even; let odd = odd"
            [class.odd]="odd" [class.even]="even" class="table-container-td" [ngSwitch]="column"
            [ngClass]="{'hide-rows': isColumnDisplay(column)}" [class.active]="isRowSelected(row)">
            <div *ngSwitchCase="'Valid'">
              <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto">
              </mat-spinner>
              <div style="text-align: center !important;" *ngIf="row[column]===true">
                <!-- <mat-icon color="accent">done</mat-icon> -->
                <span style="color: #b4e87c;">Yes</span>
              </div>
              <div style="text-align: center !important;" *ngIf="row[column]===false">
                <!-- <mat-icon color="warn">close</mat-icon> -->
                <span class="warn-color">No</span>
              </div>
            </div>
            <div *ngSwitchCase="'Popular_Search_Queries'">
              <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto">
              </mat-spinner>
              <div *ngIf="row[column] !== 'loadingQuery'"
                [ngClass]="{'text-center': isNumberOrString(row[column])}" class="w-100">
                {{ row[column] }}
                <div *ngIf="row[column] === ''" class="text-center" style="opacity: 0.5;"> - </div>
              </div>
            </div>
            <div *ngSwitchCase="'Website_Best_Position'">
              <mat-spinner *ngIf="row[column]==='loadingQuery'" style="zoom: .2;" class="m-auto">
              </mat-spinner>
              <div *ngIf="row[column]!=='loadingQuery'"
                [ngClass]="{'text-center': isNumberOrString(row[column])}" class="w-100">
                {{ row[column] }}
                <div *ngIf="row[column] === ''" class="text-center" style="opacity: 0.5;"> - </div>
              </div>
            </div>
            <div *ngSwitchDefault [ngClass]="{'text-center': isNumberOrString(row[column])}"
              class="w-100">
              {{ row[column] }}
              <div *ngIf="row[column] === ''" class="text-center" style="opacity: 0.5;"> - </div>
            </div>
            <div #content style="padding: 0 20px;" class="Test w-100" [id]="i+'google'+indexRow">
              {{ row[column] }}
            </div>
          </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="dataView.displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataView.displayColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="text-center" [colSpan]="dataView.displayColumns.length">No data</td>
      </tr>
    </table>
  </div>

  <mat-paginator showFirstLastButtons [length]="dataSource.data.length" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]"></mat-paginator>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button type="button" mat-raised-button color="accent" class="m-3">
      Display Revelant List Page
    </button>

    <div fxLayoutAlign="end center" class="w-100">
      <button type="button" mat-raised-button color="accent" class="m-3">
        Export
      </button>
      <button type="button" mat-raised-button color="accent" class="m-3">
        Send data to ...
      </button>
    </div>
  </div>

</div>
