<div fxLayout="column">
    <h1 mat-dialog-title>Settings tables</h1>
    <div mat-dialog-content>
        <mat-selection-list #items>
            <mat-list-option #item *ngFor="let facet of facetLists; let i = index" [disabled]="items.selectedOptions.selected.length > 2 && !item.selected" [selected]="facet && i < 2" (click)="onNgModelChange(facet)">
                {{facet}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div mat-dialog-actions align='center'>
        <button mat-button (click)="onClick()" tabindex="-1">FERMER</button>
    </div>
</div>