<main class="w-100 p-0" fxLayout="column">
  <div fxLayout class="pt-0 py-3 px-0 justify-content-end" fxLayoutGap="5px">
    <button class="btn btn-primary ">
      <span class="svg-icon svg-icon-md">
        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <circle fill="#000000" cx="9" cy="15" r="6" />
            <path
              d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
              fill="#000000" opacity="0.3" />
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
      Open
    </button>
    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle"
      aria-expanded="false" [matMenuTriggerFor]="importMenu">
      <span class="svg-icon svg-icon-md">
        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <path
              d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
              fill="#000000" opacity="0.3" />
            <path
              d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
              fill="#000000" />
          </g>
        </svg>
        <!--end::Svg Icon-->
      </span>
      Export
      <mat-icon aria-hidden="false" aria-label="keyboard arrow down icon" class="arrow-down">
        keyboard_arrow_down
      </mat-icon>
    </button>
    <mat-menu #importMenu="matMenu">
      <button mat-menu-item>
        Table options
      </button>
      <button mat-menu-item (click)="downloadCSV()">Export to csv</button>
      <button mat-menu-item [matMenuTriggerFor]="sousItem2">Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <mat-menu #sousItem2="matMenu">
      <button mat-menu-item>Sous item 1</button>
      <button mat-menu-item>Soous item 2</button>
    </mat-menu>
    <!-- <button class="rounded" color="primary">RefinePro dashbord</button> -->
  </div>
  <div class="row p-0">
    <aside class="col p-0" fxFlex="25%" style="border-right: 4px solid #EBEDF3">
      <mat-tab-group mat-align-tabs="start" [color]="'#f0f1f6'" [backgroundColor]="'#f0f1f6'"
        class="mat-group scroll ps" *ngIf="dataViews.length !== 0" perfectScrollbar>
        <mat-tab label="Facet/Filter">
          <app-facet-filter-target [idProject]='idProject' [items]='items' [dataViews]='dataViews'
            [dataSources]='dataSource.data'></app-facet-filter-target>

        </mat-tab>
        <mat-tab label="Undo / Redo">
          <!-- <h1>Mea</h1> -->
          <app-undo-redo [dataNameHistory]="listNameHistory" [indexRow]="indexRowdata"
            (callOtherData)="getAllDataByListName($event)"></app-undo-redo>
        </mat-tab>
      </mat-tab-group>
    </aside>

    <aside class="col p-0" fxFlex="75%">
      <div class="p-0">
        <div class="w-100 scroll ps" style="
            max-width: 100%;
            overflow: auto;
            max-height: calc(100vh - 300px);
          " perfectScrollbar>
            <table *ngIf="dataSource" class="mat-table w-100 table-viewer">
              <thead>
                <tr class="mat-cell">
                  <th *ngFor="let column of displayedColumns" class="mat-header-cell">
                    <ng-container
                      *ngTemplateOutlet="column == 'all' || column == 'star' || column == 'flag'
                      ? allHeadreTemplate
                      : defaultHeaderTemplate;
                      context:{ headerName: column }">
                    </ng-container>
                  </th>

                  <ng-template #allHeadreTemplate let-column="headerName">
                    <div [ngClass]="{ 'active-column': active === column, 'active-none': icon === '' && active === column }"
                    [ngClass]="{'d-none': column == 'star' || column == 'flag'}">
                      <span fxLayout fxLayoutGap="15px">
                        <mat-icon style="color: #fff" [inline]="true" aria-hidden="false"
                          class="option-icon bg-light">
                          arrow_drop_down
                        </mat-icon>
                        <div>
                          All
                          <div class="pl-3 icon">
                            <i *ngIf="icon === 'asc' && active === column" class="fa fa-arrow-up"></i>
                            <i *ngIf="icon === 'desc' && active === column"
                              class="fa fa-arrow-down"></i>
                          </div>
                        </div>
                      </span>
                    </div>
                  </ng-template>
                  <ng-template #defaultHeaderTemplate let-column="headerName">
                    <div> {{ column }} </div>
                  </ng-template>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataObject of dataSource;" class="mat-cell">
                  <td *ngFor="let item of dataObject | keyvalue ; let index=index">
                    <!-- <div *ngIf="displayedColumns[index]"> -->
                      <ng-container
                        *ngTemplateOutlet="
                        displayedColumns[index] == 'all'
                        ? startTemplate
                        : defaultDataTemplate;
                        context:{ dataValue: dataObject[displayedColumns[index]], index: index }">
                      </ng-container>
                    <!-- </div> -->
                  </td>
                </tr>

                <ng-template #startTemplate let-dataValue="dataValue">
                  <!-- *ngClass="{'d-none': dataValue?.key == 'flag'}" -->
                  <div> Start / Flag </div>
                </ng-template>

                <ng-template #defaultDataTemplate let-dataValue="dataValue" let-index="index">
                    <div *ngIf="displayedColumns[index] != null || displayedColumns[index] != undefined" (click)="getCol(dataValue)">
                      {{ dataValue }}
                    </div>
                </ng-template>
              </tbody>
            </table>
        </div>

        <mat-paginator [length]="dataSourceFilter.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)"></mat-paginator>
      </div>
    </aside>

    <!-- <div *ngIf="vueEdit" class="containerCustomized">
      <div class="sousdiv">
        <div class="testbutton" [style.top.px]="top" [style.left.px]="left">
          <app-edit [(tab_arraw)]="tab_arraw" [(vueedit)]="vueEdit" [(eObject)]="objectOne"
            [(selected)]="selected" [(nameCells)]="nameCells" (objectChange)="oneObjectfunc($event)"
            (toggleChange)="toggleedit($event)"></app-edit>
        </div>
      </div>
    </div> -->

  </div>
</main>

<!--
<table *ngIf="dataSource" class="table w-100">
  <div *ngFor="let dataObject of dataSource;">
    <div *ngFor="let item of dataObject | keyvalue">
      <thead>
        <tr>
          <th>{{ item }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of data;">
          <td>{{emp.id}}</td>
        </tr>
      </tbody>
    </div>
  </div> -->
