.rotateimg180 {
    transform: scaleX(-1) !important;
}

.flag-star-div1 {
    padding-right: 26px !important;
    padding-left: 25px !important;
}

.flag-star-div2 {
    width: 63px !important;
}

::ng-deep {
    // aside {
    //     // min-height: calc(100vh - 22rem) !important;
    // }
    .mat-tab-labels {
        background-color: #FFFFFF;
        height: 55px;
        margin-top: 20px;
        div {
            // padding: 5px;
            min-width: 5px !important;
            margin: 0;
        }
    }
    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        // min-width: 25px !important;
        min-width: 5px !important;
        padding: 5px;
        height: 55px;
        background-color: #f0f1f6;
        margin: 0;
        &div {
            font-weight: bold;
        }
    }
    mat-tab-group.mat-tab-group {
        div>.mat-tab-body {
            height: 100% !important;
            max-height: calc(100vh - 440px);
        }
    }
    // .mat-paginator-range-actions{
    //   white-space: nowrap !important;
    // }
    #mat-tab-label-0-0 {
        width: 29%;
        height: 40px!important;
    }
    #mat-tab-label-0-1 {
        width: 28%;
        height: 40px!important;
    }
    #mat-tab-label-0-2 {
        width: 34%;
        height: 40px!important;
    }
    // #mat-tab-content-0-1 .mat-tab-body-content {
    //     background: white;
    // }
    .mat-tab-body {
        // padding-right: 30px;
        // padding-left: 18px;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }
    .mat-tab-body::-webkit-scrollbar {
        display: none;
    }
}

::ng-deep {
    // mat-icon.option-icon {
    //     font-size: 20px !important;
    //     // border: 1px solid #b1d3ff;
    //     // cursor: pointer;
    // }
    mat-icon {
        cursor: pointer;
    }
    .dropdown-icon-bg {
        border-radius: 15%;
        background-color: transparent !important;
        border: 1px solid #979797;
        width: 28px !important;
        height: 24px;
        text-align: center;
    }
    .dropdown-icon svg {
        width: 8px;
        height: 5px;
    }
    button.small-button {
        width: 24px !important;
        height: 24px !important;
        line-height: 24px !important;
    }
    .th-content button.only-show-on-hover {
        visibility: hidden;
    }
    .th-content:hover button.only-show-on-hover {
        visibility: visible;
    }
    &.pointer {
        cursor: pointer;
        color: #3F4254;
    }
    &.pointer:hover {
        text-decoration: underline;
    }
    // mat-row, mat-header-row, mat-footer-row, th.mat-header-cell,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-bottom-color: transparent!important;
    }
    // th.mat-header-cell {
    //     border-left: 1px solid #727988;
    // }
    // td.mat-cell, td.mat-footer-cell {
    //    border-left: 1px solid #F3F3F5;
    // }
}

.mat-table {
    .odd {
        background: #F5F5F9;
    }
    .even {
        background: #FFFFFF;
    }
    &.resizing {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: col-resize;
    }
    .mat-cell:first-child {
        padding: 0 !important;
    }
    .mat-cell:not(:first-of-type) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 2em;
        padding: 1px 18px !important;
        height: 40px;
        span[role="row"] {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 1em 0 1em 0 !important;
                width: 100%;
                margin: 0;
            }
        }
    }
    .mat-sort-header {
        padding-right: 15px;
    }
    .mat-header-cell {
        /* : relative; */
        position: -webkit-sticky;
        position: sticky !important;
        white-space: nowrap;
        background: #FFFFFF;
        top: 0 !important;
        z-index: 2 !important;
        // border-bottom: 4px solid red;
        box-shadow: 12px 5px 20px 0px rgb(82 63 105 / 8%) !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        span>div {
            // background: #42425e;
            padding-top: 1px;
            font-size: 11px;
            color: #74788D;
            width: 100%;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1rem;
        }
        //   background: rgb(40, 224, 53);
        &:not(:last-child) {
            .resize-holder {
                cursor: col-resize;
                width: 20px;
                height: 100%;
                position: absolute;
                right: -10px;
                top: 0;
                z-index: 1;
            }
        }
        &:last-child {
            border-right: 4px solid #EBEDF3;
        }
    }
    .mat-cell,
    .mat-header-cell {
        // border-right: 1px solid red;
        &:not(:nth-child(1)) {
            padding: 0 10px;
        }
    }
}

::ng-deep .mat-sort-header-content {
    font-family: Poppins!important;
}

.aside-table {
    // padding: 31px !important;
    // padding-top: 73px !important;
    // padding-right: 44px !important;
    // padding-bottom: 20px !important;
    background-color: #f0f1f6;
}

::ng-deep {
    .mat-icon.arrow-down {
        height: 20px;
        vertical-align: middle;
    }
    .mat-table.table-viewer {
        .mat-cell,
        .mat-footer-cell {
            color: #000000;
            font-size: 11px;
            font-weight: 400;
            line-height: 16.5px;
        }
        .mat-body-p {
            margin: 0 !important;
        }
    }
    .mat-sort-header-content {
        width: 100%!important;
        color: #74788D;
        text-align: center;
        display: flex;
        align-items: center;
        padding-top: 1px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }
    .icon-position {
        width: 100% !important;
        display: flex !important;
        justify-content: flex-end !important;
    }
}

::ng-deep .mat-paginator {
    .mat-paginator-container .mat-paginator-range-actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 56px;
        padding: 8px 0px 8px 6px;
        margin-bottom: -8px;
        flex-wrap: wrap-reverse;
        width: 100%;
        // margin-top: 7px;
    }
    .mat-paginator-container .mat-paginator-page-size {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 56px;
        padding: 8px 8px 0px 6px;
        margin-bottom: -8px;
        flex-wrap: wrap-reverse;
        width: 100%;
        margin-top: -58px;
        margin-left: auto;
        // margin-top: 7px;
    }
    .mat-button-disabled .mat-button-wrapper {
        color: rgba(147, 162, 221, 1)!important;
    }
    .mat-mini-fab:hover {
        color: white!important;
        background: rgba(102, 172, 255, 1) !important;
    }
    .mat-mini-fab {
        border-radius: 2px !important;
        box-shadow: none !important;
        margin-left: .6% !important;
        margin-bottom: 1.1% !important;
        height: 30px !important;
        line-height: 0;
        font-size: 12px;
        font-weight: bold;
    }
    .mat-paginator-page-size .mat-form-field-infix {
        background-color: rgba(147, 162, 221, .12) !important;
        border-radius: 4px !important;
        width: 60px;
        height: 30px;
        // margin: 5px 0 0 0!important;
        padding: 0 !important;
        margin-top: -3px;
    }
    .mat-select-value {
        padding-left: 6px !important;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #93a2dd;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-paginator-range-label {
        font-family: Poppins !important;
        font-size: 13px;
        font-weight: 300;
        color: #646C9A;
        order: 1;
        margin-left: auto;
        width: 210px;
    }
    .mat-paginator-page-size-label {
        display: none;
    }
    .mat-paginator-page-size .mat-form-field-infix:hover {
        background-color: rgba(102, 172, 255, 1) !important;
    }
    .mat-paginator-page-size .mat-form-field-infix:hover .mat-select-value {
        color: white !important;
    }
    .mat-paginator-page-size .mat-form-field-infix:hover .mat-select-arrow {
        color: white !important;
    }
    .mat-paginator-page-size-select {
        margin: 0 !important;
    }
    .custom-paginator-page {
        display: none !important;
    }
}

// override material paginator
 ::ng-deep .mat-paginator {
    .mat-paginator-container {
        justify-content: center;
    }
    // override material paginator page switch
    .mat-paginator-range-label {
        order: 2;
    }
    .mat-paginator-page-size-select {
        order: 1;
    }
}

::ng-deep {
    .mat-sort-header-stem,
    .mat-sort-header-pointer-middle,
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right {
        display: none !important;
    }
    .active-column {
        span>div {
            color: white!important;
        }
        .mat-paginator-container .mat-paginator-page-size {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-height: 56px;
            padding: 0 8px;
            flex-wrap: wrap-reverse;
            width: 100%;
            margin-top: -58px;
            margin-right: 250px;
        }
        .mat-button-disabled .mat-button-wrapper {
            color: rgba(147, 162, 221, 1) !important;
        }
        .mat-mini-fab:hover {
            color: white !important;
            background: rgba(102, 172, 255, 1) !important;
        }
        .mat-mini-fab {
            border-radius: 5px !important;
            box-shadow: none !important;
            margin: .5% !important;
            font-weight: bold;
        }
        .mat-paginator-page-size .mat-form-field-infix {
            background-color: rgba(147, 162, 221, .12) !important;
            border-radius: 5px !important;
            width: 60px;
            height: 40px;
            margin: 5px 0 0 0 !important;
            padding: 0 !important;
        }
        .mat-select-value {
            padding-left: 5px !important;
            font-size: 16px;
            font-weight: 500;
            color: #7E8299;
        }
        .mat-form-field-underline {
            display: none;
        }
        // .mat-paginator-range-label {
        //     font-size: 15px;
        //     font-weight: 500;
        //     color: #3F4254;
        //     order: 1;
        //     margin-left: auto;
        // }
        .mat-paginator-page-size .mat-form-field-infix:hover {
            background-color: rgba(102, 172, 255, 1) !important;
        }
        .mat-paginator-page-size .mat-form-field-infix:hover .mat-select-value {
            color: white !important;
        }
        .mat-paginator-page-size .mat-form-field-infix:hover .mat-select-arrow {
            color: white !important;
        }
    }
    .active-column-cell {
        .mat-body-p,
        .mat-body-a,
        .mat-body-o {
            color: #3B85FE!important;
        }
    }
    .active-none-cell {
        .mat-body-p,
        .mat-body-a,
        .mat-body-o {
            color: #000000!important;
        }
    }
    .svg-icon svg g [fill] {
        transition: fill 0.3s ease;
        fill: #FFFFFF;
    }
}

::ng-deep {
    .mat-sort-header-stem,
    .mat-sort-header-pointer-middle,
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right {
        display: none !important;
    }
    .mat-sort-header-arrow {
        display: none!important;
    }
    .active-column {
        span>div {
            color: #3B85FE !important;
        }
        .bg-light {
            background-color: transparent !important;
            border: 1px solid #3B85FE;
            color: #3B85FE!important;
        }
        .icon i {
            color: #3B85FE !important;
        }
    }
    .active-none {
        span>div {
            color: #74788D !important;
        }
        .bg-light {
            background-color: transparent !important;
            border: 1px solid #74788D;
            color: #74788D!important;
        }
        .icon i {
            color: #74788D!important;
        }
    }
    .font-number {
        color: #959CBD!important;
        font-size: 12px;
    }
}

// .mat-card{
//   position: absolute;
//   left: 0;
//   top: 0;
//   z-index: 4;
// }
// x: 1005
// y:   223
.testbutton {
    // position: absolute;
    // z-index: 2;
    display: flex;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: auto;
}

.containerCustomized {
    position: fixed;
    z-index: 50;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: red;
}

.sousdiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    pointer-events: auto;
    // background-color: rgb(0, 255, 13);
    -webkit-tap-highlight-color: transparent;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mat-menu-item {
    padding: 0px 8px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
}

.example-margin {
    margin: 0 10px;
}

.cg {
    color: #26334B;
    //   font-weight: bold;
    //   font-style: italic;
    margin: 0;
}

.pl-20px {
    padding-left: 20px;
}

::ng-deep {
    .hover-span:hover {
        div {
            color: white;
        }
    }
    .hover-span:hover .bg-light {
        background-color: transparent!important;
        border: 1px solid white;
    }
    .mat-paginator {
        .mat-paginator-navigation-first:hover:enabled {
            background: rgb(102, 172, 255) !important;
            color: white!important;
        }
        .mat-paginator-navigation-previous:hover:enabled {
            background: rgb(102, 172, 255) !important;
            color: white!important;
        }
        .mat-paginator-navigation-next:hover:enabled {
            background: rgb(102, 172, 255) !important;
            color: white!important;
        }
        .mat-paginator-navigation-last:hover:enabled {
            background: rgb(102, 172, 255) !important;
            color: white!important;
        }
    }
    .ps__thumb-x {
        background-color: #B5B5C3 !important;
    }
    .ps__thumb-y {
        background-color: #B5B5C3 !important;
    }
    .scroll-item,
    .el-table__body-wrapper,
    .el-transfer-panel__list,
    .transfer-main {
        position: relative;
        overflow: hidden !important;
    }
    .ps__rail-x {
        height: 11px !important;
        border-radius: 2rem!important;
    }
    .ps__rail-y {
        width: 11px !important;
        border-radius: 2rem!important;
    }
    .ps__rail-x:hover>.ps__thumb-x,
    .ps__rail-x:focus>.ps__thumb-x,
    .ps__rail-x.ps--clicking .ps__thumb-x {
        height: 11px !important;
        border-radius: 2rem!important;
    }
    .ps__rail-y:hover>.ps__thumb-y,
    .ps__rail-y:focus>.ps__thumb-y,
    .ps__rail-y.ps--clicking .ps__thumb-y {
        width: 11px !important;
        border-radius: 2rem!important;
    }
}

::ng-deep {
    .mat-tab-header-pagination-after {
        display: none;
    }
    .mat-tab-header-pagination-before {
        display: none;
    }
    th.mat-header-cell:not(:first-child) span {
        width: 263px!important;
    }
    th.mat-header-cell:first-child span {
        width: auto!important;
    }
}

.btn-custom {
    font-size: 13px;
    font-weight: 400;
    // padding: 5px 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #3B85FE;
}

.btn-custom:hover {
    background-color: #3B73FE !important;
    color: #FFFFFF !important;
}

.btn-export {
    background-color: #3B85FE;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 15px 8px 15px;
    margin-top: 14px;
    position: absolute;
    right: 40px;
}

.pd-7 {
    width: 24px!important;
}

.pencil-icon-bg {
    border: 1px solid #979797;
    border-radius: 20%;
    position: absolute;
    right: 5px;
    top: 8px;
    padding: 0px 2px 0px 3px;
    background: transparent;
}

.pencil-icon svg {
    width: 11px;
    height: 11px;
}

::ng-deep {
    .mat-tab-header {
        margin-left: 15px;
    }
    // .mat-tab-label {
    //   margin-top: 0;
    // }
    .mat-tab-label {
        opacity: 1!important;
        color: black!important;
        font-size: 11px!important;
        font-weight: 500!important;
        line-height: 21px;
        border-bottom: 1px solid #F0F1F6;
    }
    .mat-tab-label.mat-tab-label-active {
        background-color: white;
        // color: #3B85FE;
        opacity: 1;
        margin-top: 0;
        border-left: 1px solid #F0F1F6;
        border-top: 1px solid #F0F1F6;
        border-right: 1px solid #F0F1F6;
        border-bottom: none!important;
    }
    .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
        // background: rgba(102, 172, 255, .12)!important;
        color: #3B85FE!important;
        // padding: 7px 18px!important;
        // border-radius: 5%;
        // margin-left: -31px;
    }
    .mat-tab-label .mat-tab-label-content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        // margin-left: -62px;
        // margin-right: -0px !important;
        // margin-left: -31px !important;
    }
    .mat-tab-list {
        transform: translateX(0px) !important;
    }
    .facet-filter {
        background: rgba(102, 172, 255, .12) !important;
        color: #269FFB !important;
        padding: 7px 18px !important;
        border-radius: 5%;
        margin-left: -62px;
    }
    .undo-redo {
        background: rgba(102, 172, 255, .12) !important;
        color: #269FFB !important;
        padding: 7px 18px !important;
        border-radius: 5%;
        margin-left: -62px;
    }
    .search-replace {
        background: rgba(102, 172, 255, .12) !important;
        color: #269FFB !important;
        padding: 7px 18px !important;
        border-radius: 5%;
        margin-left: -62px;
    }
    .mat-tab-label-content {
        font-family: Poppins!important;
    }
    .mat-tab-labels div {
        margin: 0;
    }
    .mat-tab-labels {
        justify-content: center;
        // background-color: #2C374D;
    }
    .mat-tab-link {
        color: #74788D;
        font-size: 13px!important;
    }
    .mat-tab-label {
        height: 55px!important;
        opacity: 1;
    }
    // .mat-tab-label {
    //   opacity: 1;
    //   background-color: #F3F6F9;
    //   color: #7A7A7A;
    // }
    .mat-focus-indicator {
        background-color: white;
    }
}

//-------------loading-------------- 
.section-loader {
    background-color: #959c9b14;
    height: 479px;
    line-height: 500px;
    position: absolute;
    top: 275px;
    z-index: 45;
}

.loadert {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    z-index: 4;
    top: 229px;
    left: calc(50%);
}

.loader-bars::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #151414;
    -webkit-animation: grow 1s linear infinite;
    animation: grow 1s linear infinite
}

.loader-bars::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #151414;
    -webkit-animation: grow 1s linear -.2s infinite;
    animation: grow 1s linear -.2s infinite
}

.loader-bars span::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #151414;
    -webkit-animation: grow 1s linear -.4s infinite;
    animation: grow 1s linear -.4s infinite
}

.loader-bars span::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 45px;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #151414;
    -webkit-animation: grow 1s linear -.6s infinite;
    animation: grow 1s linear -.6s infinite
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.link-custom {
    position: absolute;
    left: -7px;
    top: 0px;
    background: #f0f1f6;
    width: 178px;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 8px 0px 0px;
    color: #1a1a27;
}

.font-table-header {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 22, 63px;
}

::ng-deep {
    span.mat-form-field-label-wrapper .mat-form-field-label {
        width: 160px;
        height: 29px;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-indent: 12px;
        color: #959CBD;
        margin-top: 21px;
    }
    .mat-form-field-flex .mat-form-field-infix {
        padding: 45px 0 28px 0!important;
    }
    .mat-form-field-flex .mat-form-field-infix input {
        font-size: 11px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-indent: 8px;
        color: #3B85FE;
    }
    .mat-form-field-underline {
        display: none;
    }
}