.login-content {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
}

.login-content mat-card {
    // padding: 40px 70px 50px;
    // padding: 60px 50px 40px 50px;
    // border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    padding: 40px 70px 50px;
}

.mat-card>:first-child,
.mat-card-content>:first-child {
    margin-top: 0;
}