<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
    <!--begin::Login-->
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">

        <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-image: url('../../../assets/images/bg_sign.png');background-repeat: no-repeat; background-size: auto 100%;">
      </div>
      <!--begin::Aside-->
        
        <!--begin::Content-->
    <div
    class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
                <!--begin::Content body-->
                <div class="d-flex flex-column-fluid flex-center">

                    <div class="login-form login-signin">
                    <!--begin::Signin-->
                    <div fxLayout="column" fxLayoutAlign="space-between center" class="login-form login-signin sous-host d-flex flex-column-auto flex-column">
                        <!--begin::Form-->
                        <form class="form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
                            <!--begin::Title-->
                            <div class="pb-13 pt-lg-0 pt-5" fxLayout="column" fxLayoutAlign="center center">
                                <div class="w-100" fxLayoutAlign="center center">
                                    <img mat-card-image src="/assets/images/logo.png" alt="Logo">
                                </div>
                                <div class="w-100 mt-3" fxLayoutAlign="center center">
                                    <mat-card-title class="py-2 signin-text">Welcome back! Please login to your account.</mat-card-title>
                                </div>
                            </div>
                            <!--end::Title-->

                            <!--begin::Form group-->
                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                                <mat-error *ngIf="getemail.errors && getemail.errors.required">Email required
                                </mat-error>
                                <mat-error *ngIf="getemail.errors && getemail.errors.email">
                                    Invalid email</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="getpassword.errors && getpassword.errors.required">Password required
                                </mat-error>
                            </mat-form-field>
                            <!--end::Form group-->

                            <div class="py-2" fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-checkbox id="stayOn" [formControl]="stayOn" color="primary">
                                    Remember me</mat-checkbox>
                                <div>
                                    <a class="nav-link" [routerLink]="['/forgot-password']"> Forgot
                                      password</a>
                                </div>
                            </div>
                            <div class="py-1" fxLayout="row" fxLayoutAlign="center center">
                                <ngx-recaptcha2 #captchaElem [siteKey]="recaptcha.options.siteKey" [hl]="recaptcha.options.language" [size]="'normal'" formControlName="recaptcha">
                                </ngx-recaptcha2>
                            </div>

                            <!--begin::Action-->
                            <div class="pb-lg-0 pb-5 my-5" fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center">

                                    <button mat-raised-button type="submit" class="m-2 btn-signin" color="primary">Login</button>
                                    <button class="btn-signup" type="button" [routerLink]="['/sign-up']">Sign up</button>
                                </div>
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signin-->
                </div>

                </div>
                <!--end::Content body-->

                
                <!--begin::Content footer-->
                <div class="d-flex justify-content-center py-lg-0">
                    <p class="term">Terms of use. Privacy policy</p>
                </div>
                <!--end::Content footer-->

        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>