<div fxLayout="row" fxLayoutGap="10" class="h-100">
    <div fxFlex="50%" class="login-left">
        <div></div>
    </div>
    <div fxFlex="50%" [style.background]="'white'" class="login-content" fxLayout="column">
        <div class="w-75 p-0 m-auto" fxLayout="column" fxLayoutAlign="space-between center">
            <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
                <mat-card-title class="py-2">Se connecter</mat-card-title>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" class="login-form">
                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Adresse e-mail</mat-label>
                    <input matInput type="email" formControlName="username">
                    <mat-error *ngIf="getusername.errors && getusername.errors.required">Adresse e-amil est requise</mat-error>
                    <mat-error *ngIf="getusername.errors && getusername.errors.email">Adresse e-amil invalide</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password" autocomplete="off">
                    <mat-icon matSuffix>visibility_off</mat-icon>
                    <mat-error *ngIf="getpassword.errors && getpassword.errors.required">Mot de passe requis</mat-error>
                </mat-form-field>

                <div class="py-2" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-slide-toggle id="stayOn" [formControl]="stayOn">Réstez connecté</mat-slide-toggle>
                    <div>
                        <a class="nav-link" [routerLink]="['/forgot-password']"> Mot de passe oublié</a>
                    </div>
                </div>

                <div class="py-1" fxLayout="row" fxLayoutAlign="center center">
                    <ngx-recaptcha2 #captchaElem [siteKey]="recaptcha.siteKey" [size]="recaptcha.size" formControlName="recaptcha">
                    </ngx-recaptcha2>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-around center" class="py-2">
                    <button mat-raised-button type="submit" class="m-2" color="primary">Se connecter</button>
                    <!-- <a [routerLink]="['/inscription']"> S'inscrire</a> -->
                    <button mat-stroked-button type="button" class="m-2" [routerLink]="['/sign-up']">S'inscrire</button>
                </div>
            </form>
        </div>
        <div style="margin-top: auto;">Semewee.com</div>
    </div>
</div>