@import "../../../../assets/sass/pages/login/login-1.scss";
* {
    font-weight: 600;
}

@media (min-width: 992px) {
    .login-form {
        width: 100%;
        max-width: 450px;
        .mat-form-field {
            width: 100%;
        }
    }
}

// hide recaptcha badge
.showcaptcha-badge {
    // visibility: hidden;
    display: flex !important;
}

// only show recaptcha badge on needed pages
.hidercaptcha-badge {
    // visibility: visible;
    display: none !important;
}

// .login-content {
//     display: flex;
//     align-items: center !important;
//     justify-content: center !important;
// }
// .login-content mat-card {
//     // padding: 40px 70px 50px;
//     // padding: 60px 50px 40px 50px;
//     // border-radius: 10px;
//     transform: scale(1);
//     -webkit-transform: scale(1);
//     -ms-transform: scale(1);
//     z-index: 5;
//     border: 55px solid rgb(255, 255, 255);
// }
// .login-wrapper mat-card-header mat-card-title {
//     font-size: 30px;
//     padding: 40px 70px 50px;
// }
// .mat-card>:first-child,
// .mat-card-content>:first-child {
//     margin-top: 0;
// }
// .login-left {
//     background: url('/assets/images/bg_image.jpeg');
//     /* Full height */
//     height: 100%;
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.signin-text {
    color: #C3C2C6;
    font-size: 13px;
    font-weight: 600;
}

.term {
    color: #40425D;
    size: 2px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn-signup {
    border: 1px solid #40425D;
    background: none;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 175px;
    line-height: 34px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Raleway, "Open Sans";
    font-size: 14px;
    font-weight: 500;
}

.btn-signin {
    font-family: Raleway, "Open Sans";
    font-size: 14px;
    font-weight: 500;
    min-width: 175px;
    line-height: 38px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #40425D !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #e3e3e3 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #40425D !important;
}

input,
mat-icon {
    font-weight: 500;
}
