<main class="w-100 p-0" fxLayout="column">
  <div fxLayout class="pt-0 py-3 px-0 justify-content-end" fxLayoutGap="5px">
    <button class="rounded" color="primary">Open</button>
    <button class="rounded" color="primary" [matMenuTriggerFor]="importMenu">
      Export
      <mat-icon aria-hidden="false" aria-label="keyboard arrow down icon">
        keyboard_arrow_down
      </mat-icon>
    </button>
    <mat-menu #importMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item [matMenuTriggerFor]="sousItem2">Item 2</button>
      <button mat-menu-item>Item 3</button>
    </mat-menu>
    <mat-menu #sousItem2="matMenu">
      <button mat-menu-item>Sous item 1</button>
      <button mat-menu-item>Soous item 2</button>
    </mat-menu>
    <button class="rounded" color="primary">RefinePro dashbord</button>
  </div>
  <div class="row p-0">
    <aside class="col p-0" fxFlex="20%" style="border-right: 4px solid #93cdff">
      <mat-tab-group
        mat-align-tabs="start"
        [color]="'#f0f1f6'"
        [backgroundColor]="'#f0f1f6'"
        class="mat-group"
      >
        <mat-tab label="Facet/Filter">Facet / Filter</mat-tab>
        <mat-tab label="Undo/Redo">Undo / Redo</mat-tab>
      </mat-tab-group>
    </aside>

    <aside class="col p-0" fxFlex="80%">
      <div class="px-5" style="background: #93cdff; height: 50px">
        <h2 class="m-auto font-weight-bold">matching rows</h2>
        <h4 class="m-auto font-weight-normal">(1000 total)</h4>
        <span fxFlex></span>
        <h4 class="m-auto font-weight-normal">Extensions</h4>
      </div>
      <div class="p-0">
        <div class="w-100">
          <table mat-table [dataSource]="dataSource" matSort class="w-100">
            <!-- dynamics Column -->
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
              <th mat-header-cell *matHeaderCellDef>
                <span fxLayout fxLayoutGap="15px">
                  <mat-icon [inline]="true" aria-hidden="false"
                  aria-label="keyboard arrow down icon table" class="option-icon"
                  [matMenuTriggerFor]="tableOptionMenu">
                   arrow_drop_down
                  </mat-icon>
                  <div mat-sort-header>
                    {{ column | removeUnderscore | capitalizeFirstPipe }}
                  </div>
                </span>
              </th>
              <mat-menu #tableOptionMenu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item [matMenuTriggerFor]="sousItem2">Item 2</button>
                <button mat-menu-item>Item 3</button>
              </mat-menu>
              <mat-menu #sousItem2="matMenu">
                <button mat-menu-item>Sous item 1</button>
                <button mat-menu-item>Soous item 2</button>
              </mat-menu>

              <td mat-cell *matCellDef="let element">
                <ng-container
                  *ngTemplateOutlet="(element[column] | typeof) === 'string' ? stringTemplate: numberTemplate; context:{value: element[column]}">
                </ng-container>
                <ng-template #stringTemplate let-currentValue="value">
                  <div class="row justify-content-between">
                    <button class="rounded" color="primary">edit</button>
                    <p class="text-left"> {{currentValue}} </p>
                  </div>
                </ng-template>
                <ng-template #numberTemplate let-currentValue="value">
                  <div class="row justify-content-between">
                    <p class="text-right">{{currentValue}} </p>
                    <button class="rounded" color="primary">edit</button>
                  </div>
                </ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            appStylePaginator
            showFirstLastButtons
            [showTotalPages]="3"
            [length]="dataSource.data.length"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100, 250, 500, 1000, 2500, 5000]"
          ></mat-paginator>
        </div>
      </div>
    </aside>
  </div>
</main>
