<!-- <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step label="Upload excel file" completed="false">
        <ng-template matStepperIcon="home ">
            <mat-icon>home</mat-icon>
        </ng-template>
        <app-file-upload (uploadFiles)="UploadFileReady()"></app-file-upload>
    </mat-step>
    <mat-step label="Select data" state="text_snippet" completed="false">
        <app-filter-data></app-filter-data>
        <!-- <app-files></app-files> -->
<!--</mat-step>
<mat-step label="Done" state="download_done" completed="false">
    <ng-template matStepLabel>Done</ng-template>
    <app-filter-data></app-filter-data>
</mat-step>
</mat-horizontal-stepper> -->