            // Custom Theming for Angular Material
            // For more information: https://material.angular.io/guide/theming
            @import '~@angular/material/theming';
            @import './styles/utils';
            // Plus imports for other components in your app.
            // Include the common styles for Angular Material. We include this here so that you only
            // have to load a single css file for Angular Material in your app.
            // Be sure that you only ever include this mixin once!
            @include mat-core();
            // Define the palettes for your theme using the Material Design palettes available in palette.scss
            // (imported above). For each palette, you can optionally specify a default, lighter, and darker
            // hue. Available color palettes: https://material.io/design/color/
            $SEMWEE-primary: mat-palette($mat-indigo);
            $SEMWEE-accent: mat-palette($mat-pink, A200, A100, A400);
            // The warn palette is optional (defaults to red).
            $SEMWEE-warn: mat-palette($mat-red);
            // Create the theme object. A theme consists of configurations for individual
            // theming systems such as "color" or "typography".
            $SEMWEE-theme: mat-light-theme(( color: ( primary: $SEMWEE-primary, accent: $SEMWEE-accent, warn: $SEMWEE-warn, )));
            // Include theme styles for core and each component used in your app.
            // Alternatively, you can import and @include the theme mixins for each component
            // that you are using.
            @include angular-material-theme($SEMWEE-theme);
            /* You can add global styles to this file, and also import other style files */
            
            html,
            body {
                height: 100%;
            }
            
            body {
                margin: 0;
                font-family: Roboto, "Helvetica Neue", sans-serif;
                // min-height: 100vh;
                background: #e2e2e2;
            }
            
            .mat-snack-bar-container.snack-bar-error {
                background-color: #ff8800;
                color: #fff;
                text-transform: uppercase;
                .mat-simple-snackbar .mat-simple-snackbar-action button {
                    color: #fff;
                }
            }
            
            .mat-snack-bar-container.snack-bar-success {
                background-color: #1bb943;
                color: #fff;
                text-transform: uppercase;
                .mat-simple-snackbar .mat-simple-snackbar-action button {
                    color: #fff;
                }
            }
            
             :host ::ng-deep {
                .my-custom-component-small {
                    // add my-custom-component-small class to your mat-form-field element
                    .mat-form-field-flex>.mat-form-field-infix {
                        padding: 0.4em 0 !important;
                    }
                    .mat-form-field-label-wrapper {
                        top: -1.5em !important;
                    }
                    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
                        transform: translateY(-1.1em) scale(.75) !important;
                        width: 133.33333% !important;
                    }
                    .mat-form-field-wrapper {
                        margin-bottom: -1.25em !important;
                    }
                    .mat-form-field-appearance-standard .mat-form-field-flex {
                        padding-top: 0em !important;
                    }
                }
            }